/.minecraft/config/NEI
/.minecraft/config/JEI
/.minecraft/config/forgeamidst
/.minecraft/config/BetterAchievements
/.minecraft/config/InvTweaks.cfg
/.minecraft/config/InvTweaksRules.txt
/.minecraft/config/InvTweaksTree.txt
/.minecraft/config/journeymap_ModInfo.cfg
/.minecraft/config/LLOverlayReloaded.cfg
/.minecraft/logs
/.minecraft/saves
/.minecraft/journeymap
/.minecraft/asm
/.minecraft/reports
/.minecraft/crash-reports
/.minecraft/dynmap
/.minecraft/.mixin.out/audit/mixin_implementation_report.txt
/.minecraft/liteconfig/liteloader.log
