/.minecraft/config/NEI
/.minecraft/config/JEI
/.minecraft/config/forgeamidst
/.minecraft/config/BetterAchievements
/.minecraft/config/InvTweaks.cfg
/.minecraft/config/InvTweaksRules.txt
/.minecraft/config/InvTweaksTree.txt
/.minecraft/config/journeymap_ModInfo.cfg
/.minecraft/config/LLOverlayReloaded.cfg
/.minecraft/logs
/.minecraft/saves
/.minecraft/journeymap
/.minecraft/asm
/.minecraft/reports
/.minecraft/crash-reports
/.minecraft/dynmap
/.minecraft/.mixin.out/audit/mixin_implementation_report.txt
/.minecraft/liteconfig/liteloader.log
/natives
/.minecraft/.mixin.out
/.minecraft/libraries
/.minecraft/llibrary
/.minecraft/patchouli_books
/.minecraft/screenshots
/.minecraft/.ReAuth.cfg
/.minecraft/icon.png
/.minecraft/OpenComputersMod-1.7.5.192-lua52-native.64.dll
/.minecraft/OpenComputersMod-1.7.5.192-lua53-native.64.dll
/.minecraft/textures_0.png
/.minecraft/textures_1.png
/.minecraft/textures_2.png
/.minecraft/textures_3.png
/.minecraft/textures_4.png
